@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #e1e1e1;
  color: #000;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}

.barranav {
  background-color: #34495E;
  padding: 20px;
  border-radius: 5px;
  /*position: fixed;
  top: 0;*/

}

.barranav ul {
  display: flex;
  gap: 40px;
}

.barranav li {
  list-style: none;
}

.barranav a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.barranav a:hover {
  color: #f8ff2c;
}

.html{
  background-color: #ff7802;
  color: #fff;
  text-transform: uppercase;
}

.css {
  background-color: #238dfe;
  color: #fff;
  text-transform: uppercase;
}

.javascript {
  background-color: #e2cf01;
  color: #fff;
  text-transform: capitalize;
}